body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.myDiv{
  height:200px;
  width:400px;
  background-color: rgb(169, 189, 189);
  padding:1rem;
  border-radius: 2rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
  /* user-select: none as it is hightlighting the text when div is clicked */
}